@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background: url('./assets/istockphoto-1263186048-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em;
}

form{
    padding: 0px 3em;
}

#login .title span{
    font-size: .8em;
} 